.centercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.rightcontainer {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 4rem;
}


.tag {
    text-align: center;
}
#returnbutton {
    transform: scale(3.4);
    
    background-color: rgb(129, 71, 37);
    color: white;
    border-radius: 4px;
}
#orderbutton {
    transform: scale(3.4);
    
    background-color: rgb(180, 84, 137);
    color: white;
    border-radius: 4px;
    margin-bottom: 4rem;
}
#uniqueorder {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    border-spacing: 2rem;

    border: 2px solid black;
    border-radius: 15px;
    font-size: 25px;
}
#uniqueorder tr td {
    margin-top: 1rem;
}
#noorders {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22rem;
    font-size: 40px;
}

.neworder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    border-spacing: 5rem;
}

.neworder tr td {
    width: 24rem;
    height: 20rem;
}

.orderbuttons {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-size: 40px;
    text-align: center;
}
