@font-face {
    font-family: "YourFontName";
    src: url('Assets/Alegreya/static/Alegreya-Regular.ttf') format('truetype')
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffaaf5a6;
    font-family: "YourFontName", sans-serif;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;
    transform: scale(1.2);
}
.loginbox {
    border: 1px solid #ffffff8c;
    border-radius: 5px;
}
#login-btn {
    font-family: "YourFontName", sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
    border-color: white;
    border-radius: 4px;
    background-color: white;
    transition: all 0.25s ease;
}
#login-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform:scale(1.1);
}

.ptitle {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}

#stattable {
    border-spacing: 8rem;
    margin: auto;
    margin-right: 4rem;
    margin-top: -4rem;
    color: white;
    user-select: none;
}
#ordertable {
    border-spacing: 2rem;
    margin: auto;
    margin-top: 0rem;
    color: white;
    user-select: none;
}
#orderlist-table {
    position: absolute;
    top: 20.5rem;
    left: 5rem;
    border-spacing: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
}
#centerrow {
    text-align: center;
}
.orderbuild-row {
    border: 1px solid white;
}

.tile {
    border: 1px;
    background-color: #8b6c5c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "YourFontName", sans-serif;
    transition: transform 0.25s ease;
}
.tile.flip {
    transform: rotateY(360deg);
    border: 1px solid #000000;
    color: black;
    background-color: white;
}
.tilelink {
    cursor: pointer;
    border: 1px;
    background-color: #8b6c5c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "YourFontName", sans-serif;
    transition: transform 0.25s ease;
    width: 200px;
    height: 200px;
}
.tilelink:hover {
    transform: scale(1.1);
}

.r1 {
    background-color: rgb(87, 53, 39);
}
.r2 {
    background-color: rgba(185, 155, 144, 0.795);
}
.r3 {
    background-color: #8b6c5c;
}

.returnlink {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px;
    font-size: 26px;
    text-decoration: none;
    text-shadow: 1px 1px #00000071;
    color: black;
}